:local(.facebook_sign_in_button) {
  background: #3897f0;
  border-color: #3897f0;
  border-radius: 3px;
  text-decoration: none;
  margin: auto;
  padding-top: 1px ;
  width: 268px;
  height: 28px;
}

:local(#sign_up_button) {
  background: #3897f0;
  border-color: #3897f0;
  border-radius: 3px;
  text-decoration: none;
  margin: 0 0 0 55px;
  padding-top: 1px ;
  width: 268px;
  height: 28px;
}

:local(.facebook_sign_in_button_text) {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin: 7px 0;
}